<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- ナビゲーションパーシャルを読み込む -->
    <%= render 'shared/navbar' %>

    <!-- フォームをナビゲーションの右側に配置 -->
    <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <%= form_with(model: [@folder, memo], local: true, class: 'needs-validation', novalidate: true) do |form| %>
        <% if memo.errors.any? %>
          <!-- エラーメッセージをBootstrapのアラートスタイルで表示 -->
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= pluralize(memo.errors.count, "error") %> prohibited this memo from being saved:</h4>
            <ul>
              <% memo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <!-- Bootstrapのフォームグループを適用 -->
        <div class="mb-3">
          <%= form.label :title, class: 'form-label' %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= form.label :content, class: 'form-label' %>
          <%= form.text_area :content, id: 'memo_content', class: 'form-control custom-textarea', style: 'height: 60vh;' %>
        </div>

        <!-- Bootstrapのボタンスタイルを適用 -->
        <div class="actions">
          <%= form.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# テンプレートモーダル用 %>
<div class="modal fade" id="templateModal" tabindex="-1" aria-labelledby="templateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="templateModalLabel">テンプレート選択</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= button_tag '白紙にする', type: 'button', id: 'clear_textarea', class: 'btn btn-secondary', data: { template_type: 'clear_textarea' } %>
        <%= button_tag '貼り付け用テンプレート', type: 'button', id: 'insert_text2', class: 'btn btn-secondary', data: { template_type: 'insert_text2' } %>
        <%= button_tag 'エラー用テンプレート', type: 'button', id: 'insert_text3', class: 'btn btn-secondary', data: { template_type: 'insert_text3' } %>
      </div>
    </div>
  </div>
</div>

