<div class="container-fluid vh-100">
  <div class="row h-100">
    
    <!-- ナビゲーションパーシャルを読み込む -->
    <%= render 'shared/navbar' %>
    <%= render 'shared/mypage' %>
    <%= render 'shared/contextMenu' %>

    <!-- メモ一覧 -->
    <main class="col-md-10 bg-light p-4">
      <h1 class="mb-4"><%= @folder.name %>のメモ</h1>

      <!-- マイページのポップアップコンテンツ -->
      <div id="mypage-popup" style="display: none;">
        <p>メールアドレス: <%= current_user.email %></p>
      </div>

      <%= link_to '新しいメモ', new_folder_memo_path(@folder), class: 'btn btn-primary mb-3' %>

      <div class="list-group" data-folder-id="<%= @folder.id %>">
        <% @memos.each do |memo| %>
            <div class="list-group-item d-flex justify-content-between align-items-center p-3" data-memo-id="<%= memo.id %>">
              <span class="memo-title"><%= memo.title %></span>
            <div>
              <%= link_to '表示', folder_memo_path(@folder, memo), class: 'btn btn-secondary btn-sm mx-1' %>
              <%= link_to '編集', edit_folder_memo_path(@folder, memo), class: 'btn btn-warning btn-sm mx-1' %>
              <%= link_to '削除', folder_memo_path(@folder, memo), data: {turbo_method: "delete", turbo_confirm: "削除してよろしいですか？"}, class: 'btn btn-danger btn-sm mx-1' %>
            </div>
          </div>
        <% end %>
      </div>

      <%= link_to 'フォルダーに戻る', folders_path, class: 'btn btn-light mt-3' %>
    </main>
  </div>
</div>



<%= form_with(url: folder_memo_path(@folder, 0), method: :patch, id: "rename-form", local: true) do |form| %>
  <div id="renamePopup" class="rename-popup" style="display: none;">
    <div class="rename-popup-content">
      <h3>メモの名前を変更</h3>
      <%= form.text_field :title, id: "newMemoName", class: "form-control" %>
      <%= form.submit "保存", id: "saveMemoName",class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
