<h1>Memos in <%= @folder.name %></h1>

<%= link_to 'New Memo', new_folder_memo_path(@folder) %>

<ul>
  <% @memos.each do |memo| %>
    <li>
      <%= memo.title %>
      <%= link_to 'Show', folder_memo_path(@folder, memo) %>
      <%= link_to 'Edit', edit_folder_memo_path(@folder, memo) %>
      <%= link_to 'Delete', folder_memo_path(@folder, memo), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Folders', folders_path %>

<button type="button" class="btn btn-dark">Dark</button>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>