<div class="container-fluid vh-100">
  <div class="row h-100">
    
    <!-- ナビゲーションパーシャルを読み込む -->
    <%= render 'shared/navbar' %>

    <!-- メモ一覧 -->
    <main class="col-md-10 bg-light p-4">
      <h1 class="mb-4"><%= @folder.name %>のメモ</h1>

      <%= link_to '新しいメモ', new_folder_memo_path(@folder), class: 'btn btn-primary mb-3' %>

      <div class="list-group">
        <% @memos.each do |memo| %>
          <div class="list-group-item d-flex justify-content-between align-items-center p-3">
            <%= memo.title %>
            <div>
              <%= link_to '表示', folder_memo_path(@folder, memo), class: 'btn btn-secondary btn-sm mx-1' %>
              <%= link_to '編集', edit_folder_memo_path(@folder, memo), class: 'btn btn-warning btn-sm mx-1' %>
              <%= link_to '削除', folder_memo_path(@folder, memo), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm mx-1' %>
            </div>
          </div>
        <% end %>
      </div>

      <%= link_to 'フォルダーに戻る', folders_path, class: 'btn btn-light mt-3' %>
    </main>
  </div>
</div>
